<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>
      <ul>
        <% house.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :賃料 %>
    <%= form.number_field :rent %>円
  </div>
  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :residence %>
  </div>
  <div class="field">
    <%= form.label :築年数 %>
    <%= form.text_field :built %>年
  </div>
  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>
  <h3>最寄り駅1</h3>
  <div class="station">
    <%= form.fields_for :near_stations do |s| %>
      <%= s.label :route_name, "路線名" %>
      <%= s.text_field :route_name %>
      <%= s.label :station, "駅名" %>
      <%= s.text_field :station %>
      <%= s.label :time_on_foot, "徒歩分数" %>
      <%= s.text_field :time_on_foot %>
    <% end %>
  </div>
  <h3>最寄り駅2</h3>
  <div class="station">
    <%= form.fields_for :near_stations do |s| %>
      <%= s.label :route_name, "路線名" %>
      <%= s.text_field :route_name %>
      <%= s.label :station, "駅名" %>
      <%= s.text_field :station %>
      <%= s.label :time_on_foot, "徒歩分数" %>
      <%= s.text_field :time_on_foot %>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit @button_display %>
  </div>
<% end %>
