<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @house.rent %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @house.residence %>
</p>

<p>
  <strong>Ramarks:</strong>
  <%= @house.ramarks %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
